
.form-focus .focus-label {
    font-size: 12px !important;
}

.heading {
    background: linear-gradient(to right, #ff9b44 0%, #fc6075 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.employee {
    position: relative;
    height: max-content;
    padding-bottom: 4rem;

}

.dropify-wrapper .dropify-message p {
    margin: 0;
    font-size: 12px !important;
}

.dropify-wrapper .dropify-message span.file-icon {
    font-size: 20px;
    color: #CCC;
}